
<div id="nav-menu" class="hidden">
    <a href="../site/index.html">Main</a>
    <a href="../site/form.html">Form</a>
    <a href="../site/gallery.html">Gallery</a>
</div>

<div id="site-header">
    <span class="title">WEB Lab 2</span>
    <div class="button">Menu</div>
</div>

<div id="site-content"></div>

<div id="site-footer">
    <div>
        <a href="../site/index.html">Main</a>
        <a href="../site/form.html">Form</a>
        <a href="../site/gallery.html">Gallery</a>
    </div>
    <div class="right">
        Yaroslav Protsenko, CS-A2
    </div>
</div>
